---
import BaseLayout from '../layouts/BaseLayout.astro';
import SubmitButton from '@components/SubmitButton.tsx';
import { isAuthenticated } from '../utils/auth.ts';

// Redirect authenticated users away from login page
if (await isAuthenticated(Astro.cookies)) {
  return Astro.redirect('/');
}
---

<BaseLayout title="Login">

  <main>
    <div class="container-xs">
      <h1>Sign in</h1>

      <form action="/api/auth/login" method="post" id="login-form">
        <div>
          <label for="username">username</label>
          <input type="text" name="username" id="username" required autofocus />
        </div>

        <div>
          <label for="password">Password</label>
          <input type="password" name="password" id="password" minlength="8" required />
        </div>

        <div class="form-actions">
          <SubmitButton formId="login-form" loadingText="Signing in..." client:load>
            Sign in
          </SubmitButton>
          <span class="form-actions-link">
            Don't have an account? <a href="/register">Create an account</a>
          </span>
        </div>
      </form>
    </div>
  </main>
</BaseLayout>