*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

:root,
html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  background: var(--color-purple-950);
  /* background: radial-gradient(
    circle,
    var(--color-purple-800) 0%,
    var(--color-purple-900) 15%,
    var(--color-purple-950) 100%
  ); */
  color: var(--color-purple-50);
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins', sans-serif;
  font-weight: var(--font-weight-medium);
  overflow-wrap: break-word;
}

a {
  color: var(--color-purple-400);
  text-decoration: none;
}
