---
import { getCurrentUserFromAstro } from '../utils/auth.ts'
import BlinkLogo from './BlinkLogo.svg'
import UserProfileDropdown from './react/UserProfileDropdown.tsx'

const user = await getCurrentUserFromAstro(Astro.cookies)
---

<header>
  <div class="header-content container">
    <a class="header-logo" href="/">
      <BlinkLogo />
    </a>
    <nav>
      {
        user ? (
          <UserProfileDropdown user={user} client:load />
        ) : (
          <a class="button" href="/login">
            Sign in
          </a>
        )
      }
    </nav>
  </div>
</header>
