---
import type { PaginationResult } from '@utils/posts'

export type Props = {
  pagination: PaginationResult
}

const { pagination } = Astro.props
const { currentPage, totalPages, hasNextPage, hasPrevPage } = pagination

const getPrevHref = () => {
  if (currentPage === 2) {
    return '/'
  }
  return `/posts/p/${currentPage - 1}`
}

const getNextHref = () => {
  return `/posts/p/${currentPage + 1}`
}
---

<div class="pagination">
  {hasPrevPage && (
    <a href={getPrevHref()} class="button pagination-prev">
      ← Previous
    </a>
  )}
  
  <span class="pagination-info">
    Page {currentPage} of {totalPages}
  </span>
  
  {hasNextPage && (
    <a href={getNextHref()} class="button pagination-next">
      Next →
    </a>
  )}
</div>