---
import type { User } from '@utils/types'

export type Props = {
  user: User
}

const { user } = Astro.props
---

<div class="profile-no-posts">
  <p>{user.username} hasn't posted anything yet.</p>
</div>

<style>
.profile-no-posts {
  text-align: center;
  padding: 3rem 1rem;
  color: var(--color-neutral-400);
  font-style: italic;
}
</style>