html {
  background-color: theme("colors.gray.100");
  color: theme("colors.gray.900");
}

.slidev-layout {
  background-color: theme("colors.gray.100");
  color: theme("colors.gray.900");
}

.layout-setup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h2 {
    font-size: 3rem;
    margin: 0;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
  }
}

.strike-through {
  text-decoration: line-through;
  text-decoration-color: theme('colors.gray.900');
  text-decoration-thickness: 4px;
}
